<div class="dropdown dropstart">
    <button class="btn border-0 p-0 rounded-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="material-icons d-flex fs-3">more_vert</i>
    </button>
    <ul class="dropdown-menu bg-dark rounded-3 rounded-top-0 rounded-start-3 border border-light overflow-hidden p-0">
        <li>
            <button class="btn btn-dark w-100 py-2 border-0 border-light rounded-0 border-bottom d-flex align-items-center justify-content-between">
                <h5 class="m-0 fw-normal">Duplicar</h5> 
                <i class="material-icons text-light d-flex fs-3" >content_copy</i>  
            </button>
        </li>

        <li>
            <button class="btn btn-dark w-100 py-2 border-0 border-light rounded-0 border-bottom d-flex align-items-center justify-content-between">
                <h5 class="m-0 fw-normal">Editar</h5> 
                <i class="material-icons text-light d-flex fs-3" >edit</i>  
            </button>
        </li>

        <li>
            <button class="btn btn-dark w-100 py-2 border-0 rounded-0 d-flex align-items-center justify-content-between" (click)="deletebutton()">
                <h5 class="m-0 text-danger">Excluir</h5> 
                <i class="material-icons text-danger d-flex fs-3" >delete</i>  
            </button>
        </li>
    </ul>
  </div>
  

