<div class="bg-primary px-3 py-4 rounded-3 d-flex border-degrade-success" [class]="'border-degrade-'+config.color">
    <div class="d-flex justify-content-start align-self-center me-2">
        <div class="p-2 rounded-4 bg-dark">
            <i class="material-icons text-secondary d-flex fs-3" [class]="'text-'+config.color" >{{config.icon}}</i>  
        </div>
    </div>
    <div class="w-100">
        <h6 class="m-0 fw-semibold text-light mb-1">{{config.title}}</h6>
        <h3 class="m-0 mb-1 fw-semibold">{{config.time}}</h3>
        <h6 class="m-0 fw-semibold" [class]="'text-'+config.color">{{config.subtitle}}</h6>
    </div>
</div>    